body {
    font-family: 'Fira Sans', sans-serif;
}

.avatar img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.avatar {
    width: 100%;
    margin: 0;
    padding: 0;
}

.breadcrumb {
    background: #ace0e7;
}

.breadcrumb a {
    background: #ace0e7;
    color: #333;
}

.banner {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
